{% extends "base.html" %}

{% block content %}
{% from "_formularioajuda.html" import render_field %}
<div class="container mt-4">
    <a href="{{ url_for('filme_criar') }}" class="btn btn-primary mb-3">Cadastrar Filme</a>
    <div class="row">
        {% for filme in filmes %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='/images/' + filme.foto_poster) }}" class="card-img-top" alt="Poster do Filme">
                    <div class="card-body">
                        <h4 class="card-title">{{ filme.nome }}</h4>
                        <h4 class="card-title">Genero: {{ filme.generos.nome }}</h4>
                        <p class="card-text">{{ filme.sinopse[:100] }}...</p>
                        <p class="card-text"><strong>Diretor:</strong> {{ filme.diretor }}...</p>
                        <a href="{{url_for('filme_unico',id=filme.id)}}" class="btn btn-secondary ml-2">Detalhes</a>
                        <a href="{{url_for('filme_atualizar', id = filme.id )}}" class="btn btn-info">Atualizar Filme</a>
                        <a href="{{url_for('filme_excluir', id = filme.id)}}" class="btn btn-danger ml-2">Excluir Filme</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
