<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Projeto Review</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if current_user.role!='admin' %}
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">Home</span></a>
        </li>
        {% endif %}

        {% if current_user.is_authenticated %}

          {% if current_user.role %}
          <a class="nav-link" href="{{ url_for( 'admin_home') }}">Home</a>
          <a class="nav-link" href="{{ url_for( 'logout') }}">Logout Admin</a>
          {% else %}
          <a class="nav-link" href="{{ url_for( 'conta', id = current_user.id) }}">Conta</a>
          {% endif %}
          <a class="nav-link" href="{{ url_for( 'logout') }}">Deslogar</a>

        {% else %}
          <li class="nav-item active">
              <a class="nav-link" href="{{url_for('cadastro_usuario')}}">Cadastro </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for( 'login') }}">Login</a>
          </li>
          <li class="nav-item active">
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>